// ====== Variables ======
$primary-purple: #8E44AD;
$secondary-purple: #89288f;
$hover-purple: #7A349D;
$active-purple: #6a1f6f;
$text-color: #5d1496;
$background-color: white;
$font-family: 'Arial', sans-serif;

